* {
  color: #333;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#container {
  width: 500px;
  margin: 20px auto;
}

#header ul li {
  float: left;
  margin-right: 10px;
  margin-left: 0;
  list-style-type: none;
}

#content {
  clear: both;
}

#content p {
  margin: 10px 0 10px 0;
}

/* Headings */
h1, h2, h3, h4 { 
  margin-bottom: 15px;
  font-family: "Helvetica Neue", Helvetica;
}
h1 { font-size: 36px;}
h2 { font-size: 30px;}
h3 { font-size: 24px;}
h4 { font-size: 18px;}

/* links */
a  {  
  font-weight: bold;
}

/* code highlighting */
div.highlight * {
  font-size: 12px;
  font-family: Monaco;
}

li {
  margin-left: 20px;
}