*.log
*.output
*.lock
.bundle
.DS_Store
.rvmrc
.ruby-version
erl_crash.dump
pkg
site
test/coverage
tmp/*
*.gem
coverage
dump.rdb
TAGS
/beetle
.godeps
/release/
.idea
.byebug_history
.packr
/go/a_main-packr.go
.yardoc
gemfiles/*
/master-client.txt
/master-server.txt
/redis-master-rcc
/gems
/bundler