      <div id="header" onclick="javascript:window.location='/beetle/'">
        <h1>Beetle: High Availability AMQP Messaging With Redundant Queues</h1>
      </div>
      <div id="navigation">
        <ul>
          <li id="navi_intro">
            <a href="/beetle/">Intro</a>
          </li>
          <li id="navi_amqp">
            <a href="/beetle/amqp.html">AMQP</a>
          </li>
          <li id="navi_api">
            <a href="/beetle/api.html">API</a>
          </li>
          <li id="navi_examples">
            <a href="http://github.com/xing/beetle/tree/master/examples/">Examples</a>
          </li>
          <li id="navi_faq">
            <a href="/beetle/faq.html">FAQ</a>
          </li>
          <li id="navi_rdoc">
            <a href="/beetle/rdoc/index.html">RDoc</a>
          </li>
          <li id="navi_source">
            <a href="http://github.com/xing/beetle">Source</a>
          </li>
          <li id="navi_tickets">
            <a href="http://github.com/xing/beetle/issues">Tickets</a>
          </li>
        </ul>
      </div>
