        <div id="sidebar">
          <div class="item">
            <h4><a href="http://rubygems.org/gems/beetle">Install beetle from gemcutter</a></h4>
            <p>gem install beetle</p>
          </div>
          <div class="item">
            <!-- Blog   -->
            <h4><a href="/beetle/atom.xml" id="rss_feed" name="rss_feed">Blog Posts</a></h4>
            <p>
              {% for post in site.posts %}
                <span>{{ post.date | date_to_string }}</span> » <a href="/beetle{{ post.url }}">{{ post.title }}</a><br>
              {% endfor %}
            </p>
          </div>
          <div class="item">
            <script type="text/javascript" src="http://disqus.com/forums/beetle-messaging/combination_widget.js?num_items=5&color=orange&default_tab=recent"></script>
          </div>
        </div>
      </div>
