name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: [3.2.2, 3.1.4, 3.0.6, 2.7.8]
        redis-version: [4, 5]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}

      - name: Setup Go environment
        uses: actions/setup-go@v3
        with:
          go-version: '1.20.7'

      - name: Install dependencies
        run: sudo apt-get install redis

      - name: Start required services
        run: docker-compose up -d

      - name: Install gems
        run: bundle install && bundle exec appraisal install

      - name: Compile and test beetle go binary
        run: make && make test

      - name: Run beetle gem tests
        run: bundle exec rake test
        env:
          BUNDLE_GEMFILE: gemfiles/redis_${{ matrix.redis-version }}.gemfile
          MINITEST_REPORTER: SpecReporter

      - name: Run beetle failover tests
        run: bundle exec cucumber || (tail -n 100 tmp/*.{log,output}; false)
        env:
          BUNDLE_GEMFILE: gemfiles/redis_${{ matrix.redis-version }}.gemfile

      - name: Stop services
        run: docker-compose down
        if: always()
